node_modules
.github
ios
android
demo
Develop
Example
__tests__
src
.vscode
.buckconfig
.editorconfig
.eslintrc.js
.flowconfig
.gitattributes
.gitignore
.npmignore
.prettierrc.js
.watchmanconfig
app.json
App.tsx
babel.config.js
/index.js
/metro.config.js
/tsconfig.json
yarn-error.log